{% block html_head_container %}
{% include 'html-header.twig' %}
{% block head %}{% endblock %}
</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header">
			{% block header %}
				<div class="container">
					<a class="logo" href="{{site.url}}" rel="home">{{site.name}}</a>
					<nav id="nav" class="nav" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav>
				</div>
			{% endblock %}
		</header>

		<main id="main" role="main" class="content-wrapper">
			<div class="container">
				<div class="row">
					<div id="content" class="content col-sm-8 {{sidebar_class}}">
						{% block content %}
							Sorry, no content
						{% endblock %}
					</div>

					{% if sidebar %}
						<aside id="aside" class="aside col-sm-4">
							{{sidebar}}
						</aside>
					{% endif %}
				</div>
			</div>

			{% include "blocks.twig" %}
		</main>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
