{% set counters = [] %}

{% if post.get_field('blocks') %}

  <div class="blocks">

    {% for layout in post.get_field('blocks') %}
      {% set row_layout = layout.acf_fc_layout %}

      {% if counters[row_layout] is defined %}
        {% set counters = counters|merge({(row_layout):(counters[row_layout] + counters[row_layout])}) %}
      {% else %}
        {% set counters = counters|merge({(row_layout):(1)}) %}
      {% endif %}

      {% if layout.acf_fc_layout == "content_block" %}

        <section id="content-block-{{ counters[row_layout] }}" class="block content-block {% if layout.layout_settings %} {{ layout.layout_settings|join(' ') }} {% endif %}">
          {% include "blocks/content-block.twig" with { 'layout': layout } %}
        </section>

      {% elseif layout.acf_fc_layout == "title_block" %}

        <section id="title-block-{{ counters[row_layout] }}" class="block title-block">
          {% include "blocks/title-block.twig" with { 'layout': layout } %}
        </section>

      {% elseif layout.acf_fc_layout == "gallery_block" %}

        <section id="gallery-block-{{ counters[row_layout] }}" class="block gallery-block">
          {% include "blocks/gallery-block.twig" with { 'layout': layout } %}
        </section>

      {% elseif layout.acf_fc_layout == "slideshow_block" %}

        <section id="slideshow-block-{{counters[row_layout]}}" class="block slideshow-block">
          {% include "blocks/slideshow-block.twig" with { 'layout': layout } %}
        </section>

      {% elseif layout.acf_fc_layout == "post_block" %}

        <section id="post-block-{{ counters[row_layout] }}" class="block post-block">
          {% include "blocks/post-block.twig" with { 'layout': layout } %}
        </section>

      {% elseif layout.acf_fc_layout == "form_block" %}

        <section id="form-block-{{ counters[row_layout] }}" class="block form-block">
          {% include "blocks/form-block.twig" with { 'layout': layout } %}
        </section>

      {% endif %}
    {% endfor %}

  </div>

{% endif %}