<div class="blog-comment {{ comment.comment_type }}" id="comment-{{ comment.ID }}">
	<h5 class="comment-author">{{ comment.author.name }}</h5>
	<div class="comment-content">{{ comment.comment_content|wpautop }}</div>

	{% if comment.comment_parent == false %}
		<a href="#comment-{{comment.ID}}" class="btn btn-secondary comment-reply">{{ __('Reply', 'blendid') }}</a>
		{% include "comment-form.twig" with { 'comment': comment } %}
	{% endif %}

	<!-- child comments -->
	{% if comment.children %}
		<div class="comments">
			{% for cmt in comment.children %}
				{% include "comment.twig" with { comment:cmt } %}
			{% endfor %}
		</div>
	{% endif %}

</div>