{% if layout.images %}
  <div class="container">
    <div class="row">
      {% for item in layout.images %}
        <figure class="col-md-{% if column.size %}{{column.size}}{% else %}{{ 12 / loop.length }}{% endif %}">
          {% if item.size %}
            <img src="{{item.image.url|resize(1280, 1280)}}" alt="{{item.image.title}}">
          {% else %}
            <img src="{{item.image.url|resize(1920)}}" alt="{{item.image.title}}">
          {% endif %}
        </figure>
      {% endfor %}
    </div>
  </div>
{% endif %}