{% if layout.slides %}
  <div class="slider" data-slick='{ "fade": {{layout.fade}}, "autoplay": {{layout.autoplay}} {% if layout.speed %}, "speed": {{layout.speed}} {% endif %} {% if layout.delay %}, "autoplaySpeed": {{layout.delay}} {% endif %} }'>
    {% for item in layout.slides %}
      <div class="slide-item {{item.color}} {{item.position}}">
        {% if item.url %}
        <a href="{{item.url}}">
        {% endif %}
          <div class="slide-gradient"></div>
          <div class="image bg-image" {% if item.image %}style="background-image: url({{item.image.url|resize(1920, 1080)}})"{% endif %}></div>
          <div class="slide-caption">
            <div class="container">
              <div class="{% if item.position == "right" %}col-xs-10 offset-xs-2 col-md-7 offset-md-5{% else %}col-xs-10 col-md-7 col-lg-7{% endif %}">
                <h2>{{item.title}}</h2>
                {% if item.url %}
                  <button class="btn btn-primary">{{__('Read article', 'blendid')}}</button>
                {% endif %}
              </div>
            </div>
          </div>
        {% if item.url %}
        </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}